* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkcyan;
    color: lightgreen;
    margin: 3rem 10%;
}

main {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

/* css for class */

.form-login {
    display: flex;
    justify-content: center;
}

/* css for id */

#main-index {
    display: block;
}

#title-page {
    padding: 0 0 1.5rem 0;
    font-size: 2rem;
}

#login {
    padding: 1.5rem 0;
    font-size: 2rem;
}